.competencyBucket {
    font-size: 0.8rem;
    border: none;

    .header {
        margin-bottom: 0.5rem;
        cursor: pointer;
        display: flex;

        img {
            height: 1rem;
            width: 1rem;
            margin-left: -1rem;
            transform-origin: 50% 50%;
            transform: rotate(180deg);
        }

    }

    .header:empty {
        display: none;
    }

    .hiddenCompetencies {
        margin: 0;
        padding: 0;
        margin-bottom: 0.5rem;
    }

    &.collapsed .hiddenCompetencies {
        display: none;
    }

    &.collapsed img {
        transform: rotate(0deg);
    }

    .matrixCompetency {
        margin: 0;
        padding: 0.25rem 0;
    }
}

