.levelFilter {
    padding: 0.1rem 0.25rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    width: auto;
    border-radius: 5px;

    &:not(.hidden) {
        background-color: #fff;
        color: #333
    }

    &.hidden {
        display: block !important;
        text-decoration: line-through;
        opacity: 0.5;
    }
}