.label {
    font-size: 0.8rem;
    opacity: 0.8;
    font-family: "Zilla Slab";
}

.filterBar {
    height: 100%;
    background-color: #333;
    font-family: "Anonymous Pro";
    color: #FFF;
    display: flex;
    flex-direction: column;

    .label {
        margin-bottom: 0.25rem;
    }

    .title {
        font-size: 1.2rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    .subtitle {
        font-size: 0.7rem;
        margin-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 0.2rem;
    }
}