.displayModes {
    margin: 1rem;
    display: flex;
    flex-direction: column;

    .displayMode {
        cursor: pointer;
        width: auto;
        border-radius: 5px;
        padding: 0.1rem 0.25rem;

        &:not(.selected) {
            opacity: 0.5;
        }

        &.selected {
            background-color: #FFF;
            color: #333
        }
    }
}